body {
  background-color: beige;
}

.flag-container {
  width: 800px;
  height: 400px;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flag-container {
  animation: flagSlide 1s linear 1;
  animation-delay: 1s;
}

.top-container {
  height: 48.5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.bottom-container {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blue {
  width: 49%;
  height: 100%;
  background-color: blue;
  border-radius: 10px;
  animation: blueGrow .8s linear 1;
  animation-delay: 1s;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.star {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  margin: 20px;
  animation: fadeIn 2s linear 1;
  animation-delay: 2.5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.short-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.stripe {
  width: 100%;
  height: 23%;
  border-radius: 10px;
  animation: stripeGrow 1s linear 1;
  animation-delay: 1s;
}

.red {
  background-color: red;
}

.white {
  background-color: white;
}

@keyframes flagSlide {
  0% {
    transform: translateX(-900px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes stripeGrow {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blueGrow {
  0% {
    width: 0;
  }
  100% {
    width: 49%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

